* {
    box-sizing: border-box;
}

:root {
    --Col-Cla: #F6F7D5;
    --Col-Sec: #666816;
    --Col-Ver: #9EA123;
    --Col-Bar: #E4E682;
    --Padding: 0.75rem;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

#cabezera {
    width: 100%;
}

.encabezado_fondo {
    position: static;
    width: 100%;
}

.encabezado_logo {
    position: sticky;
    left: 10px;
}
header{
    background-image: url(../imagenes/fondo_encabezado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.btn {
    background-color: var(--Col-Ver);
    position: fixed;
}

#menu {
    background-color: var(--Col-Sec);
    text-decoration: none;
    font-weight: 100%;
}

#menu a {
    display: inline-block;
    color: var(--Col-Cla);
    text-decoration: none;
    padding: var(--Padding);
}

#menu a:hover {
    background-color: var(--Col-Bar);
    color: var(--Col-Cla);
    opacity: 65%;
    font-weight: bold;

}

#portada {
    background-image: url(../imagenes/aad065e29dd3ee097703622257856275.jpg );
    opacity: 90%;
    background-position: center;
}

.form-control {
    color: var(--Col-Sec);
    background: var(--Col-Cla);
    border-style: none;
    width: 462px;
}